
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: #f2f2f2;
      text-align: center;
    }
    h1 { text-align: center; }
    .entrega {
      background: white;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 15px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    img {
      width: 200px;
      border-radius: 10px;
    }
