    body {
      font-family: Arial, sans-serif;
      margin: 50px;
      background-color: #878f96;
    }
    h2 {
      text-align: center;
      color: #343a40;
    }
    form {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
    }
    input {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
    }
    button {
      background-color: #28a745;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #218838;
    }
