<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Entrega na Portaria</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Registro de Entrega</h2>

  <form method="POST" action="/" enctype="multipart/form-data">

    <label>Nome do Entregador</label>
    <input type="text" name="nome" required>

    <label>Nome do Cliente</label>
    <input type="text" name="cliente" required>

    <label>Apartamento</label>
    <input type="text" name="apartamento" required>
    
    <label>Bloco</label>
    <input type="text" name="bloco" required>

    <label>Foto do Produto: </label>
    <input id="foto_produto" type="file" name="foto" accept="image/*" capture="environment" required>
    <noscript><button type>Enviar Foto</button></noscript>

    <button type="submit">Registrar Entrega</button>
  </form>
</body>
</html>
